body{
font-family: system-ui;
background:#f5f5f5;
margin:0;
text-align:center;
}

canvas{
max-width:100%;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
margin-top:10px;
}

.dark{
background:#0f172a;
color:white;
}
